{{#if addNewArticle}}
  <h4>Create New "{{article.title}}"</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title" placeholder=article.title}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=article.author}}
      </div>

      <div class="form-group">
        <label for="copy">Copy</label>
        {{input value=copy id="copy" placeholder=article.copy}}
      </div>

      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image" placeholder=article.image}}
      </div>

      <button {{action 'saveArticle1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'articleFormShow'}}>New Article</button>
{{/if}}
