<img src={{model.image}} alt={{model.title}} />
<h2>{{model.title}}</h2>
<h5>by {{model.author}}</h5>
<p>
  {{model.copy}}
</p>

{{article-update article=model update="update" destroyArticle="destroyArticle"}}
